{{!-- q-doc Code Documentation Generator --}}
{{!--  Handlebars Template for File Tree --}}
{{!-- Copyright (C) 2014 Jaskirat M.S. Rajasansir --}}
{{!-- License BSD, see LICENSE for details --}}

<div class="list-group" id="q-doc-file-tree-group">
{{#each files}}
    <a href="{{link}}" id="{{id}}" class="list-group-item">
        <tt class="filename">{{file}}</tt>
        <span class="badge">{{funcCount}}</span>
    </a>
{{/each}}
</div>

