body {
    min-height: 100px;
    padding-top: 70px;
}

.footer {
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.footer > .container {
  height: 60px;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

.warning {
  color: darkRed;
}

.filename {
  font-size: small;
  font-weight: bold;
}
